/*

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

*/

*
{
padding: 0em;
margin: 0em;
}

body
{
background: #D8D8D8;/*url('images/bg1.jpg');*/
padding: 35px 0px 35px 0px;
}


body,input
{
font-size: 14pt;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333333;
}

.app_material_name{
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;

font-size: 24pt;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333333;
}

.app_material_title_row
{
margin-left: 0px;
font-size: 14pt;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333333;
}

.app_material
{
padding: 2em;
margin-left: 0px;
font-size: 14pt;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333333;
}

.btn-default {
    color: #333;
    /*background-color: #fff;*/
    border-color: #ccc;
    margin-left: -6px;
    background-color: white;
}

a.btn-default {
  background-color: white;
  text-decoration: none
}
a:link.btn-default  { color: #333; }
a:visited.btn-default  { color: #333; }
a:active.btn-default  { color: red; }
a.gray.btn-default  { color: #7F7F7F; }
a:hover.btn-default  { color: #FF6600; }

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    background-color: white;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

table td {
vertical-align: top;
}

.pull-right {
    float: right!important;
}

.pull-left {
    float: left!important;
}

.abstract {
    display: none;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.btn-header {
    margin-right: 4px;
    display: inline-block;
    padding: 1px 5px;
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: white;
    border: 1px solid rgb(204, 198, 198);
    border-radius: 4px;
}

.btn-research {
    display: inline-block;
    padding: 1px 5px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: white;
    border: 1px solid rgb(204, 198, 198);
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 1px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: white;
    border: 1px solid rgb(204, 198, 198);
    border-radius: 4px;
}

.dropheader
{
position: relative;
width: 100%;
height: 3.0em;
background: #2B2B2B url('images/topbg.gif') repeat-x;
margin-bottom: 2px;
}

.dropheader_pub
{
position: relative;
width: 100%;
height: 2.0em;
background: #2B2B2B url('images/topbg.gif') repeat-x;
margin-bottom: 2px;
}

.dropheader_pub h4
{
padding: 0.5em 1.0em 0.5em 1.0em;
color: #fff;
text-decoration: none;
align-content: center;
}
.dropheader_pub h2
{
font-size: 14pt;
padding: 0.3em 1.0em 0.9em 1.0em;
color: #fff;
text-decoration: none;
}
.dropheader h2
{
padding: 0.5em 1.0em 0.9em 1.0em;
color: #fff;
text-decoration: none;
}
.dropheader h2 a
{
padding: 0.5em 1.0em 0.9em 1.0em;
color: #fff;
text-decoration: none;
}

.name_css
{
font:italic bold 24px/60px Georgia, serif;
}
.dropcontent
{

left: -1.5em;
top: -1.5em;
padding: 1em;
/*border-bottom: solid 1px #E1D2BD;
margin-bottom: 1.0em;*/
}

.publish_row {
    border-bottom: solid 1px #bfbcbc;
    margin-bottom: 1.0em;
    padding: 1em;
    list-style: none;
}

.teaching_title {
  color: #FF8F00;
}
.teaching_row {
    list-style: list-style-type:circle;
    display: list-item;
}

table {
  border-collapse: collapse;
}

.date {
    color: #333333D;
    font-weight: 400;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropcontent_pub
{
    left: -1.5em;
    top: -1.5em;
    padding: 1em;
    list-style: none;
}

p
{
line-height: 1.5em;
margin-bottom: 1.0em;
/*text-align: justify;*/
}

a
{
color: #B96D00;
text-decoration: underline;
}

a:hover
{
text-decoration: none;
}


h3 span
{
font-weight: normal;
}

h3,h4
{
display: inline;
font-weight: bold;
background-repeat: no-repeat;
background-position: right;
}

h3
{
font-size: 1.7em;
padding-right: 34px;

}

h4
{
font-size: 1.2em;
/*padding-right: 28px;*/
}

.contentarea
{
padding-top: 1.3em;
align-content: center;
}

img
{
border: 0;
}

img.left
{
position: relative;
float: left;
margin: 0em 1.8em 1.4em 0em;
}

img.right
{
position: relative;
float: right;
margin: 0em 0em 1.8em 1.8em;
}

.divider1
{
position: relative;
background: #fff url('images/border2.gif') repeat-x;
height: 14px;
margin: 2.0em 0em 1.5em 0em;
clear: both;
}

.contact-title {
    background: #2B2B2B url('images/topbg.gif') repeat-x;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16pt;
    margin-bottom: 5px;
}

.contact {
    margin-bottom: 10px;
    margin-top: 15px;
    border: 1px solid #A8A8A1;
    font-size: 12pt;

}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.divider2
{
position: relative;
height: 1px;
border-bottom: solid 1px #eaeaea;
margin: 2.0em 0em 2.0em 0em;
}

.post .details
{
position: relative;
top: -1.5em;
font-size: 0.8em;
color: #787878;
}

.post ul.controls
{
clear: both;
}

.post ul.controls li
{
display: inline;
font-size: 0.8em;
}

.post ul.controls li a
{
background-repeat: no-repeat;
background-position: left;
padding: 0em 1.0em 0em 20px;
}

.post ul.controls li a.printerfriendly
{
background-image: url('images/icon-printerfriendly.gif');
}

.post ul.controls li a.comments
{
background-image: url('images/icon-comments.gif');
}

.post ul.controls li a.more
{
background-image: url('images/icon-more.gif');
}

.box
{
position: relative;
left: -1.5em;
top: -1.5em;
padding: 1em;
border-bottom: solid 1px #E1D2BD;
margin-bottom: 1.0em;
}

ul.linklist
{
list-style: none;
}

ul.linklist li
{
line-height: 2.0em;
}

#upbg
{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background: #D8D8D8; /*url('images/bg2.jpg') repeat-x;*/
/*z-index: 1;*/
}


#outer-app
{
z-index: 2;
position: relative;
/*
	The width value below controls the overall width of the design. By default it's set to 82%
	(so it'll take up 82% of the browser window's width). You can set it to a different percentage
	value (70%, 90%, etc.) or even a pixel value (760px, 800px, etc.) to enforce a fixed width.
*/
width: 800px;
border: solid 7px #fff;
background-color: #fff;
margin: 0 auto;
}

#outer
{
z-index: 2;
position: relative;
/*
	The width value below controls the overall width of the design. By default it's set to 82%
	(so it'll take up 82% of the browser window's width). You can set it to a different percentage
	value (70%, 90%, etc.) or even a pixel value (760px, 800px, etc.) to enforce a fixed width.
*/
width: 80%;
min-width: 900px;
border: solid 7px #fff;
background-color: #fff;
margin: 0 auto;
}

#header
{
position: relative;
width: 100%;
/*height: 5.0em;*/
background: #2B2B2B url('images/topbg.gif') repeat-x;
margin-bottom: 2px;
}

#headercontent
{
position: relative;
bottom: 0em;
padding: 1.3em 2.0em 1.3em 2.0em;
}

#headercontent h1
{
font-weight: normal;
color: #fff;
font-size: 2.0em;
}

#headercontent h1 sup
{
color: #777;
}

#headercontent h2
{
font-size: 1.2em;
font-weight: normal;
color: #aaa;
}

#search
{
position: absolute;
top: 5.5em;
right: 2.0em;
padding-right: 0.0em;
}

#search input.text
{
margin-right: 0.5em;
vertical-align: middle;
border-top: solid 1px #000000;
border-right: 0px;
border-bottom: solid 1px #777777;
border-left: 0px;
padding: 0.15em;
width: 10.0em;
}

#search input.submit
{
background: #939B00 url('images/buttonbg.gif') repeat-x;
border: solid 1px #5F6800;
font-weight: bold;
padding: 0.25em;
font-size: 0.8em;
color: #F2F3DE;
vertical-align: middle;
}

#headerpic
{
position: relative;
height: 100px;
/*background: #fff url('images/bjpur.jpg') no-repeat top left;*/
margin-bottom: 2px;
}

#menu
{
position: relative;
background: #2B2B2B url('images/topbg.gif') repeat-x;
height: 3.5em;
padding: 0em 1.0em 0em 1.0em;
margin-bottom: 2px;
}

#menu ul
{
position: absolute;
top: 1.1em;
}

#menu ul li
{
position: relative;
display: inline;
}

#menu ul li a
{
padding: 0.5em 1.0em 0.9em 1.0em;
color: #fff;
text-decoration: #999;
}

/*#menu ul li a:hover
{
background: #444;
color: #fff;
text-decoration: #fff;
}*/

/*#menu ul li a:visited, a:active, a:focus
{
background: #444;
text-decoration: #fff;
}*/


#menubottom
{
background: #fff url('images/border1.gif') repeat-x;
height: 14px;
margin-bottom: 1.5em;
}

#menu .title
{
    float: left;
    display: block;
    padding: 0px 20px 12px;
    margin-left: -20px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    color: #FF8F00;
}


#content
{
padding: 0em 2.0em 0em 2.0em;
}

#primarycontainer
{
float: left;
margin-right: -35%;
width: 100%;
}

#primarycontainer-app
{
float: left;
margin-right: -35%;
}

#primarycontent
{
margin: 1.5em 35% 0em 0em;
}

#secondarycontent
{
position:relative;
float: right;
margin-top: 1.5em;
right:0px;
/*float: right;*/
width: 30%;
min-width: 12em;
max-width: 22em;
}

#footer
{
position: relative;
height: 2.0em;
clear: both;
padding-top: 5.0em;
background: #fff url('images/border2.gif') repeat-x 0em 2.5em;
font-size: 0.8em;
}

#footer .left
{
position: absolute;
left: 2.0em;
bottom: 1.2em;
}

#footer .right
{
position: absolute;
right: 2.0em;
bottom: 1.2em;
}
